header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  width: 100vw;
  height: 10vh;
}

header nav {
  height: 100%;
  width: 40%;
  display: flex;
}

header nav a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  transition: .5s;
}

header nav a:hover {
  color: black;
  background-color: white
}