.main-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  transition: 1s ease;
}

.information-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vmax;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  height: 85%;
  width: 60%;
}

.information-main-container h1 {
  margin-left: 6vw;
}

.name {
  color: #2FC18B;
}

.image-main-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 40%;
}

.image-main-container img {
  width: 85%;
}

@keyframes caret {
  0% {
    border-color: transparent;
  } 
  50% {
    border-color: white;
  }
}

.palavras {
  border-right: 5px solid white;
  animation: caret 3s infinite ease;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 420px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .image-main-container {
    width: 100%;
  }

  .information-main-container {
    width: 100%;
  }
}
